@import "partials/variables";
@import "partials/mixin";
@import "partials/components";

// HTML Template
#template{
    background-image: url("../img/template.jpg");
    background-size: 100%;
    width: 100%;
    color: white;
    background-color: $helper-color-1;
    background-blend-mode: darken;
    h2{
        font-weight: 600;
    }
}