@import "partials/variables";
@import "partials/mixin";
@import "partials/components";

// Carousel
#carousel{
    .row-title{
        h2{
            color: white;
        }
        p{
           color: white;
        }
    }
    .item{
        width: 93%;
        position: relative; 
        background: white;
        height: 400px!important;
        img{
            cursor: pointer;
            width: 100px;
            height: 100px;
            border-radius:100%;
            @include setTransition(ALL,0.7S);
            &:hover{
                opacity: 0.8;
            }
        }
        p{
            margin-top: 22px;
            padding: 5px 0px;
            font-style: italic;
            opacity: 0.5;
        }
        .stars{
            list-style: none;
            padding: 0px;
            li{
                display: inline;
                i{
                    color: #ffc107;
                }
            }
        }
        h4{
            font-weight: 600;
            cursor: pointer;
            font-size: $title-size*.6;
            &:hover{
                color: $primary-color;
            }
        }
        h6{
            opacity: 0.5;
            font-size: $text-size;
        }
    }

    .owl-carousel{
        position: relative;
        .owl-nav{

            position: absolute;
            top: -70px;
            right: 20px;
            button{
                width: 40px;
                height: 40px;
                background: white;
                color: black;
                margin-right: 20px;
                outline: none;
                font-size: 30px;
                line-height: 40px;
                @include setTransition(all, 0.7s);
                &:hover{
                    background: $primary-color;
                    color: white;
                }
            }
        }
    }
}   