@import "partials/variables";
@import "partials/mixin";
@import "partials/components";

// Hiring
#hiring{
    h6{
        font-size: 13px;
        opacity: 0.5;
        font-style: italic;
        font-weight: 400;
        margin-top:30px;
        letter-spacing: 2px;
    }
    h2{
        font-size: 36px;
        padding: 20px;
    }
    p{
        font-size: 17px;
        font-weight: 300;
        opacity: 0.7;
    }
}