@import "partials/variables";
@import "partials/mixin";
@import "partials/components";

#single{
    h5{
        font-weight: 600;
        font-size: 20px;
        &:last-child{
            margin-top: 5px;
        }
    }
    p{
        font-weight: 600;
    }
    .check{
        ul{
            list-style: none;
            padding: 0px;
            li{
                font-size: $text-size*1.25;
                padding: 3px 0px;
                i{
                  padding-right: 10px;
                  color: $primary-color;
                }
                span{
                    opacity: 0.5;
                    font-weight: 600;
                    font-size: 15px;
                    font-style: italic;
                  }
              }
          }
    }
    .answers{
        font-weight: 200;
        ul{
            list-style: none;
            li{font-size: $text-size*1.25;
                padding: 3px 0px;
                opacity: 0.5;
                &:last-child{
                    opacity: 1;
                    &:hover{
                        cursor: pointer;
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .links{
        list-style: none;
        padding: 0px;
        li{
            display: inline;
            padding-right: 10px;
            
            i{
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 15px;
                color:white;
                border-radius: 100%;
                text-align: center;
            }
            .fa-facebook-f{
                background-color: rgb(59, 89, 153);
            }
            .fa-youtube{
                background-color: rgb(205, 32, 31);
            }
            .fa-twitter{
                background-color: rgb(85, 172, 238);
            }
            .fa-linkedin-in{
                background-color: rgb(0, 119, 181);
            }
            .fa-instagram{
                background-color: #517fa4;
            }               
        }
    }
}
    