//  Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Poppins', sans-serif;

// Colors
$primary-color: #0b60a9;

$helper-color-1: rgba(0,0,0,.5);

// Font-sizes

$title-size: 36px;
$text-size: 12px;
